import { AwsAccessKeyProperties, FrontendProperties } from "./orchestration/env-properties"

// add as many property types from orchestration/properties as required
const properties : AwsAccessKeyProperties & FrontendProperties = {
    publicUrl: 'https://',
    reactAppApiEndpoint: 'https://api.',

    awsAccessKeyId: ,
    awsSecretAccessKey: ,
    awsRegion: '

}

export default properties